.Sidebar {
    background-color: #fff;
    box-shadow: 0 20px 20px rgba(0,0,0,.1);
    flex-basis: 250px;
    padding: 20px;
}
.Navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}
.Navigation__item:not(:last-child) {
    margin-bottom: 10px;
}
.Navigation__link {
    color: var(--gray);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    
}