.Accordion {
    background: var(--white);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border: 1px solid var(--gray);
    border-bottom: 0;
}

.Accordion__panel {
    border-bottom: 1px solid var(--gray);
}


.Accordion__panel_head {
    background-color: #ccc;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--gray);
}

.Accordion__panel_content {
    // background: #fff;
    padding: 10px;
    font-size: 12px;
    display: none;
}
.Accordion__panel--active .Accordion__panel_content {
    display: block;
}
